/* styles.css */

html{
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	height: 100vh;
	font-family: serif;
	color: black;
	font-size: 2rem;
}
.container {
	display: flex;
	height: 100%;
}
.left {
	flex: 1;
	background: url("../img/Flowers.gif") no-repeat center/cover;
}
.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 3rem;
	text-align: right;
}

.type {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	border-right: 2px solid black;
}
.grief {
	width: 0;
	animation: typingGrief 3s steps(5, end) forwards,
	           blink 1s infinite;
}
.pain {
	width: 0;
	animation: typingPain 3s steps(4, end) forwards 3.5s,
	           blink 1s infinite;
}
@keyframes typingGrief {
	from { width: 0 }
	to { width: 5ch }
}

@keyframes typingPain {
	from { width: 0 }
	to { width: 4ch }
}

@keyframes blink {
	50% { border-color: transparent }
}
